{% extends "base.html" %}

{% block content %}
<div id="bank" class="container">
    <div>

        <a href="#" data-ref="modify" data-cmd="update_repository_data">update files from git</a>
        <a href="#" data-ref="modify" data-cmd="get_data_store">get data store</a>
        <a href="#" data-ref="modify" data-cmd="get_data_store_array">get data store array</a>
        <a href="#" data-ref="modify" data-cmd="get_file_path">get path</a>
        <a href="#" data-ref="modify" data-cmd="put_file_path">save</a>

        <div>
            <span>maintenance mode:</span>
            <a href="#" data-ref="modify" data-cmd="configure" data-arg="maintenance_mode:False">False</a>
            <a href="#" data-ref="modify" data-cmd="configure" data-arg="maintenance_mode:True">True</a>
        </div>

        <div id="tx-info"></div>
        <div id="text-field"></div>
        <div id="tx-trace"></div>

    </div>
    <div id="result"></div>
</div>

<script type="module" src="{{url_for('static', filename='js/admin.js')}}"></script>


{% endblock %}