{% extends "base.html" %}

{% block content %}
<div id="bank" class="container">
    <div>
        {{ name }}[Authorized:{{ state }}]
        <a href="/logout" data-ref="one">logout {{ name }}</a>
        <a href="#" data-ref="acquire">one</a>

    </div>
    <div>
        <a href="#" data-ref="modify" data-cmd="expectations">two</a>
        <input id="pre-data"/>
    </div>
    <div id="result"></div>
</div>

<script type="module" src="{{url_for('static', filename='js/admin.js')}}"></script>

{% endblock %}