
body {
    background-color: rgba(50,50,50,1.0);
    color: gray;
    font-family: heavy_data, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
}

.row {
    /*border: 1px red dotted;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 0.9em;
    color: antiquewhite;
    font-size: 1.5em;
}

.column {
    /*border: 1px red dotted;*/
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right {
    text-align: right;
}

div.container{
    background-color: rgba(0,0,0.2,1.0);
    margin: 2%;
}

a, .md-link, a .svg-positive{
    text-decoration: none;
    color: antiquewhite;
    fill: antiquewhite;
}

a:visited, .md-link:visited, a:visited .svg-positive{
    color: lightgray;
    fill: lightgray;
}

.link-box{
    /*border: 1px red dotted;*/
    width: auto;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.link-full:hover .link-icon{
    opacity: 1.0;
}

.link-full{
    white-space: nowrap;
}

.markdown{
    background-color: rgba(50,50,50,0.5);
    margin: 0.5em 0;
}

p{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

pre{
    background-color: rgba(50,50,50,0.75);
    overflow-x: scroll;
}

pre, blockquote, div.container, div.markdown{
    padding:2%;
}



img, pre, blockquote, div.container, div.markdown{
    border-radius:14px;
}

@font-face {
    font-family: heavy_data;
    font-weight: normal;
    font-feature-settings: normal;
    src: url(/font/dinregularwebfont.ttf);
}

@font-face {
    font-family: heavy_data_bold;
    src: url(/font/din-medium.ttf);
}

.link-icon {
    width:1em;
    vertical-align:text-top;
    margin-right:2px;
    opacity:0.5;
}

.svg-mask{
    fill:#333333;
}

.svg-positive{
    fill:darkorange;
}

.hidden{
    display: none;
}

#credit .sac-icon{
    width: 32px;
    vertical-align: middle;
}

.container.minimize p,
.container.minimize .markdown{
    display: none;
}

.container.minimize .row{
    margin:0;
}








.res{
    background-color: rgba(100, 255, 100, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}


.res-node{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.res .res-node:first-child{
    flex: 1;
}

.res .res-node:not(:first-child) {

    border-left: 1px black dotted;
}


.res-link{
    background-color: darkslategray;
    color:cyan !important;
    padding: 3px;
    padding-top: 5px;
    width: 100%;
}

#message.res-node-field{
    white-space: nowrap;
    flex: 2;
}

input.res-node-field, div.res-node-field, div.res-node-label {
    display: flex;
    flex-direction: column;

}

div.res-node-label {
    flex-basis: auto;
    color: green;
}

div.res-node-field {
    flex-basis: 100%;
    color: greenyellow;
}

input.res-node-field{
    outline:0;
    border:0;
    background-color: rgba(255, 255, 255, 0.1);
    width:auto;
    color: greenyellow;
}

div.res-node-label ,div.res-node-field , input.res-node-field {
    /*color:antiquewhite !important;*/
    font-family: heavy_data, sans-serif;
    font-size: 12px;
    padding:3px;
    padding-top:5px;
}





/*.codejar-linenumbers div:nth-child(5n+1){*/
/*    background-color:red;*/
/*}*/



/*.codejar-wrap:before{*/
/*    content: '<div>ok</div>'*/
/*!*}*!*/

/*.codejar-linenumbers div p{*/
/*    padding-left:4px;*/
/*}*/

/*.codejar-linenumbers div p:nth-child(odd){*/
/*    background-color: rgba(60, 60, 60, 0.5);*/
/*}*/

/*.codejar-linenumbers {*/
/*    width:100%;*/
/*    right:0 !important;*/
/*    overflow: visible !important;*/
/*    background-color: rgba(60, 60, 60, 0.2);*/

/*}*/

/*.codejar-wrap div{*/

/*    !*border-radius: 6px;*!*/
/*    !*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*!*/
/*    !*font-family: monospace;*!*/
/*    !*font-size: 14px;*!*/
/*    !*font-weight: 400;*!*/
/*    !*height: 340px;*!*/
/*    !*letter-spacing: normal;*!*/
/*    !*line-height: 20px;*!*/
/*    !*padding: 10px;*!*/
/*    !*tab-size: 4;*!*/
/*}*/


/*#blob-editor {*/
/*    position: absolute !important;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    overflow-x: scroll;*/
/*    color: rgba(255, 255, 255, 0.75);*/
/*    white-space: pre-line !important;*/
/*}*/

/*#text-field{*/
/*    display: block;*/
/*    border: 1px red dotted;*/
/*    position: relative;*/
/*    overflow: visible;*/
/*    height:auto;*/
/*}*/